@media (min-width: 992px) and (max-width: 1430px) {
  .nav-items:not(.subnav) {
    .level_2 {
      left: inherit;
      right: 0;
    }
  }
}

@media (max-width: 1400px) {
  .skewed-bg.skewed-bottom.skewed-right {
    bottom: -175px;
  }
}

@media (max-width:1300px) {
  .ce_sliderElement .container {
    padding: 0 70px;
  }
}

@media (max-width:1180px) {
  footer {
    .main-footer .mod_article {
      padding: 0;
    }
  }
}

@media (max-width:1024px) {
  .ce_sliderElement {
    .bg-image {
      background-position: center right;
    }
  }

  #container.sloping {
    margin-top: -10px;
  }

  .nav-items {
    a, strong {
      font-size: 16px;
      padding: 15px 10px;
    }
  }

  .slider-control .slider-menu {
    margin-top: 20px;
  }

  footer {
    .mod_article .container {
      padding: 0;
    }
  }
}

@media (max-width: 991px) {
  .calendar {
    td a {
      font-size: 0.7rem;
      max-width: 100%;
      word-break: break-word;
    }

    th, td {
      font-size: 0.8rem;
    }
  }

  .ce_sliderElement {
    h1, h2, h3, h4, h5, h6 {
      font-size: 1.2rem;
    }

    .text .inside {
      width: 100%;
    }
  }

  .layout_teaser, .layout_list {
    .datetime, .content {
      margin-top: 20px;
    }
  }

  /* Mobile Navigation Start */
  .navbar {
    height: 100% !important;
    padding: 0;

    .navbar-brand, .navbar-toggler {
      margin: 15px;
    }

    .navbar-toggler {
      z-index: 2;
    }

    .collapse.show {
      width: 100%;
      border-top: 2px solid $navbar-mobile-border-color;
      background: $navbar-mobile-background;
      padding-bottom: 15px;
      top: 0;
      position: relative;

      .nav-items {
        height: calc(100vh - 80px);
        overflow: scroll;
      }
    }

    ul {
      padding-top: 15px;
      margin-bottom: 30px;

      li {
        display: block;
        text-align: center;

        a, strong {
          display: inline-block;
        }
      }

      &.level_2 > li > a {
        border-top: 3px solid #fff;
      }
      &.level_2 > li:first-child > a {
        border: 0;
      }
      &.level_3 li a {
        color: #aaa;
      }
    }

    .container {
      max-width: 100%;
    }
  }

  .container .mod_article .container {
    max-width: 100%;
    padding: 0;
  }

  .nav-items {
    .dropdown-toggle {
      position: absolute;
      top: 8px;
      right: 15px;
      color: $navbar-mobile-dropdown-toggle-color;
      height: 41px;
      width: 41px;

      &:after {
        border-top: .6em solid;
        border-right: .6em solid transparent;
        border-left: .6em solid transparent;
        vertical-align: -0.55em;
      }
    }

    .dropdown-menu {
      position: relative;
      width: 100%;
      border: none;
      background: $navbar-mobile-dropdown-background;
      padding-top: 0;
      border-radius: 0;
      margin: 0;

      &.level_4 {
        background: darken($navbar-mobile-dropdown-background,2%);
      }
    }
  }

  .navbar-light .navbar-toggler-icon {
    background-image: none;
    display: flex;
    align-items: center;

    svg {
      width: 100%;
      font-size: 1.7rem;
      color: $navbar-toggler-color;
    }
  }

  .navbar-top {
    .container {
      max-width: 100%;
    }
  }

  .navbar .navbar-brand {
    margin: 0 15px;
  }
  /* Mobile Navigation End */

  .nav-container.sloping {
    &.top-right .navbar .collapse.show .nav-items {
      transform: rotate(3deg);
      left: -15px;
    }

    .navbar-top {
      padding-right: 30px;
    }

    .navbar {
      .collapse.show {
        padding-bottom: 50px;

        .nav-items {
          position: absolute;
          width: 101vw;
          height: calc(100vh - 190px);
          background: #fff;
          transform: rotate(-3deg);
          left: 22px;
          top: 20px;
          overflow: scroll;

          .dropdown-toggle {
            right: 30px;
          }
        }
      }

      .collapsing {
        -webkit-transition: none;
        transition: none;
        display: none;
      }

      .navbar-brand {
        margin-left: 50px;
      }

      .navbar-toggler {
        margin-right: 50px;
      }
    }
  }
}

@media (min-width:768px) and (max-width:991px) {
  .ce_ct_featureElement {
    .feature-text {
      p {
        font-size: 0.8rem;
      }
    }
  }

  .container {
    max-width: 90%;
  }

  footer h2 {
    font-size: 1.2rem;
    height: 30px;
  }
}

@media (min-width:768px) and (max-width:991px) {
  .ce_ct_featureElement {
    .feature-text {
      p {
        font-size: 0.8rem;
      }
    }
  }

  .container {
    max-width: 90%;
  }

  footer h2 {
    font-size: 1.2rem;
    height: 30px;
  }
}

@media (max-width:767px) {
  .ce_ct_priceBox {
    margin-bottom: 30px;

    &.popular-box {
      margin-top: 0;
    }
  }

  .ce_sliderElement {
    background: none;

    .container {
      padding: 0;
      max-width: 100%;
    }

    .text {
      position: relative;
      top: inherit;
      right: inherit;
      margin: 0;

      .inside {
        padding: 30px 80px;
        box-shadow: none;
      }
    }
  }

  .ce_sliderStart {
    margin-bottom: 30px;

    .slider-control {
      .slider-menu {
        bottom: -15px;
      }

      .slider-prev, .slider-next {
        font-size: 1rem;
        width: 40px;
        height: 40px;
      }
    }
  }

  .content-gallery {
    &[class*="cols-2"], &[class*="cols-3"] {
      li {
        max-width: 100%;
      }

      figure {
        margin-right: 0 !important;
      }
    }

    &[class*="cols-4"], &[class*="cols-5"], &[class*="cols-6"], &[class*="cols-7"], &[class*="cols-8"], &[class*="cols-9"], &[class*="cols-10"], &[class*="cols-11"], &[class*="cols-12"] {
      li {
        max-width: 50%;
      }
    }
  }

  #container.sloping {
    margin-top: -20px;
  }

  footer {
    .row > div {
      text-align: center;
      margin-bottom: 30px;
    }

    .main-footer {
      padding-bottom: 0;
    }

    .ce_ct_featureElement {
      margin: 0 auto;
    }

    .main-footer .row > div:not(:last-child) {
      border-right: none;
      border-bottom: 1px solid #484848;
      padding-bottom: 20px;
    }

    .toplink {
      right: 25px;
      bottom: 25px;
    }
  }

  .header-image {
    .caption h1 {
      font-size: 1.2rem;
      max-width: 90%;
    }
  }

  #header {
    .email, .phone {
      display: none;
    }

    .navbar-brand img {
      height: 60px;
      width: auto;
    }
  }

  #main .inside > .mod_article {
    padding: 20px 0;
  }

  .navbar-top .social-media {
    border-left: none;
  }

  .nl-footer .container {
    padding: 150px 0 0;
    margin-bottom: -20px;
  }

  #wrapper {
    padding-top: 108px;
  }

  .navbar-top {
    padding: 5px 0;
    height: inherit;
  }

  .nav-container.sloping .navbar-top {
    height: 90px;
  }

  .skw-tr, .skw-tl, .skw-br, .skw-bl {
    margin-top: 0;
  }

  .slider {
    &.skw-bl, &.skw-br {
      .skewed-bg {
        display: none;
      }
    }
  }

  .sloping .ce_sliderElement .text .inside {
    margin-top: 0;
  }

  .ce_form {
    label {
      width: 100%;
      text-align: center;
    }

    input, textarea {
      width: 100%;
    }
  }

  #anfragen button {
    margin: 0;
    float: none;
  }

  .ce_ct_teaserBox {
    .inside {
      margin-bottom: 20px;
    }
  }

  .nl-footer .widget-text, .nl-footer .widget-submit {
    display: inline-block;
  }

  .nav-container.sloping + .mod_article .header-image h1 {
    margin-top: 0;
  }

  .nav-container.sloping + .mod_article:not([class*="skw"]) .header-image h1 {
    margin-top: 40px;
  }
}

@media (max-width: 600px) {
  .nl-footer .container {
    padding: 110px 0 0;
    margin-bottom: -25px;
  }
}

@media (max-width: 575px) {
  .calendar {
    thead {
      tr {
        &:first-child th {
          display: block;
          font-size: 1rem;
        }

        &:last-child {
          display: none;
        }
      }
    }

    tbody {
      display: block;

      td.active, tr.mobile td, tr {
        display: block;
      }

      td {
        &.active {
          max-width: 100%;
        }

        &:not(.active) {
          display: none;
        }
      }

      tr.mobile td {
        max-width: 100%;
      }
    }
  }

  .layout_teaser, .layout_list {
    .datetime {
      display: none;
    }
  }

  .layout_simple, .layout_upcoming {
    time {
      display: block;
    }
  }

  .mod_newslist, .mod_eventlist {
    nav p {
      float: none;
    }
  }
}

@media (max-width: 450px) {
  .minicalendar {
    td, th {
      font-size: 0.8rem;
      padding: 5px;

      a {
        font-size: 0.8rem;
        padding: 5px;
      }
    }
  }

  .nl-footer {
    .widget-text {
      display: block;
      padding-right: 0;
    }

    .widget-submit {
      display: block;
      margin-top: 15px;
    }

    input, button {
      width: 100%;
      text-align: center;
    }
  }
}
