#wrapper { visibility: visible; }

body {
  font-family: $mainFont;
  color: $oddColor5;
}

body, .skewed-bg {
  background: $page_background;
}

a {
  color: $oddColor2;

  &:hover {
    color: $oddColor3;
    text-decoration: none;
  }

  &:focus {
    outline: 0;
  }
}

.readmore, a.btn, .btn a, button, .btn-primary {
  background: $button-background;
  color: $button-color;
  padding: 10px 20px;
  display: inline-block;
  font-weight: 700;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
  border: none;
  margin: 10px 0 0;
  cursor: pointer;
  border-radius: 0;

  &:hover {
    background: $button-background-hover;
    color: $button-color-hover;
  }
}

.btn-primary.focus, .btn-primary:focus {
  box-shadow: none;
}

.content-hyperlink.btn:not(:disabled):not(.disabled) {
  text-align: left;
  padding: 0;
}

.content-hyperlink.btn {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

.invisible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.headroom {
  will-change: transform;
  transition: transform 200ms linear;
}
.headroom--pinned {
  transform: translateY(0%);
}
.headroom--unpinned {
  transform: translateY(-100%);
}

.row.no-margin {
  margin: 0;
}

@import 'parts/layout';
@import 'parts/forms';

@import 'parts/elements';
@import 'parts/modules';
@import 'parts/news-events';
@import 'parts/theme-elements';

@import 'parts/footer';
@import 'parts/header';

/* ======================== */
/*     Responsive           */
/* ======================== */

@import 'responsive';
