/****
 **** mate theme files / mate_variables
 **** overrides materialize variables
 ****
 */

$page_background: #f5faff;

$mainFont: 'Muli', sans-serif !default;
$headingFont: 'Cabin', sans-serif !default;

$grey: #f2f2f2 !default;
$darkGrey: #808080 !default;
$black: #333 !default;

$primaryColor: #457cb6 !default;

/* ======================== */
/*        Headlines         */
/* ======================== */
$h1-font-size: 2rem;
$h2-font-size: 1.7rem;
$h3-font-size: 1.5rem;
$h4-font-size: 1.3rem;
$h5-font-size: 1.1rem;
$h6-font-size: 0.9rem;

/* ======================== */
/*        Gradient          */
/* ======================== */
$gradientPrimaryColor1: #1e5380 !default;
$gradientPrimaryColor2: #2898aa !default;
$gradientSecondaryColor1: #efefef !default;
$gradientSecondaryColor2: #ebebeb !default;

/* ======================== */
/*        Styles            */
/* ======================== */
$borderRadius: 0px !default;
$subnavBackgroundColor: #333 !default;

/* ======================== */
/*     Content Slider       */
/* ======================== */
$slider-background: rgba(255, 255, 255, 0.8);
$slider-headline-color: #1b4673;
$slider-text-color: #1b4673;
$slider-button-background: #457cb6;
$slider-button-color: #f2f2f2;
$slider-button-background-hover: #3e71b6;
$slider-button-color-hover: #f2f2f2;
$slider-control-color: #333;
$slider-control-color-active: #457cb6;