@charset "UTF-8";

@font-face {
  font-family: "Cabin";
  src: url("/bundles/pdirthemeodd/fonts/Cabin/Cabin-Regular.ttf");
}

@font-face {
  font-family: "Muli";
  src: url("/bundles/pdirthemeodd/fonts/Muli/Muli-Regular.ttf");
}

@import "_odd_colors";
@import "../../../../../../../files/odd/scss/_custom_colors";
@import "_odd_variables";
@import "../../../../../../../files/odd/scss/_custom_variables";

body {
  font-family: $mainFont;
  color: $oddColor5;
}

body, .skewed-bg {
  background: $page_background;
}

a {
  color: $oddColor2;

  &:hover {
    color: $oddColor3;
    text-decoration: none;
  }

  &:focus {
    outline: 0;
  }
}

.readmore, a.btn, .btn a, button, .btn-primary {
  background: $button-background;
  color: $button-color;
  padding: 10px 20px;
  display: inline-block;
  font-weight: 700;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
  border: none;
  margin: 10px 0 0;
  cursor: pointer;
  border-radius: 0;

  &:hover {
    background: $button-background-hover;
    color: $button-color-hover;
  }
}

.btn-primary.focus, .btn-primary:focus {
  box-shadow: none;
}

.ce_hyperlink.btn:not(:disabled):not(.disabled) {
  text-align: left;
  padding: 0;
}

.ce_hyperlink.btn {
    display: block;
}

img {
  max-width: 100%;
  height: auto;
}

.invisible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.headroom {
    will-change: transform;
    transition: transform 200ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}

.row.no-margin {
  margin: 0;
}

/* ======================== */
/* Layout                   */
/* ======================== */

#main {
  .inside {
    overflow: hidden;

    > .mod_article {
      padding: 60px 0;

      &.slider {
        padding-top: 0;
        padding-bottom: 0;
      }

      &.slope-section {
        padding-bottom: 100px;
      }

      &.intro {
        padding: 0;
      }
    }
  }
}

#left, #right {
  .inside {
    padding: 60px 0;
  }
}

.center {
  text-align: center;
}

.mod_article.first > .container > {
  .first {
    &, h1, h2, h3, h4, h5, h6 {
      margin-top: 0;
    }
  }
}

/* ======================== */
/* Contao-Elemente          */
/* ======================== */

.bordered-heading {
  h1, h2, h3, h4, h5, h6, h1&, h2&, h3&, h4&, h5&, h6& {
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 40px;

    &:after {
      position: absolute;
      bottom: 0;
      content: "";
      left: 0;
      border-bottom: 3px solid $oddColor2;
      width: 100px;
    }
  }
}

.mod_article.primary-bg {
    h1, h2, h3, h4, h5, h6 {
        &.ce_headline:after {
            border-color: $oddColor6;
        }
    }

    .ce_text {
        h1&, h2&, h3&, h4&, h5&, h6& {
            &:after {
                border-color: $oddColor6;
            }
        }
    }
}

.text-right .bordered-heading, .bordered-heading.text-right,
.text-sm-right .bordered-heading, .bordered-heading.text-sm-right {
  h1, h2, h3, h4, h5, h6, h1&, h2&, h3&, h4&, h5&, h6& {
    &:after {
      left: inherit;
      right: 0;
    }
  }
}

.text-center .bordered-heading, .bordered-heading.text-center,
.text-sm-center .bordered-heading, .bordered-heading.text-sm-center {
  h1, h2, h3, h4, h5, h6, h1&, h2&, h3&, h4&, h5&, h6& {
    &:after {
      left: 50%;
      margin-left: -50px;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headingFont;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

h2, h3, h4, h5, h6 {
  margin-top: 50px;
}

h1 {
  font-size: $h1-font-size;
  color: $h1-color;
}
h2 {
  font-size: $h2-font-size;
  color: $h2-color;
}
h3 {
  font-size: $h3-font-size;
  color: $h3-color;
}
h4 {
  font-size: $h4-font-size;
  color: $h4-color;
}
h5 {
  font-size: $h5-font-size;
  color: $h5-color;
}
h6 {
  font-size: $h6-font-size;
  color: $h6-color;
}

.mod_article.primary-bg {
    h1, h2, h3, h4, h5, h6 {
        &.ce_headline {
            color: $oddColor6;
        }
    }

    .ce_text {
        h1, h2, h3, h4, h5, h6 {
            color: $oddColor6;
        }
    }
}

.ce_accordion {
  margin-bottom: 15px;

  .toggler {
    background: $oddColor2;
    padding: 10px 15px;
    cursor: pointer;
    color: $oddColor6;

    &:focus {
      outline: 0;
    }
  }

  .accordion {
    background: $oddColor6;
    padding: 15px;

    p {
      margin: 0;
    }
  }
}

.ce_gallery {
  overflow: hidden;

  ul {
    padding: 0;

    li {
      list-style-type: none;
      float: left;
    }
  }
}

/* News / Events */

.layout_latest, .layout_short {
  margin-bottom: 30px;

  .content {
    background: $oddColor6;
    padding: 20px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
    position: relative;
  }

  h3 {
    font-size: 1.3rem;
    margin-top: 10px;
    text-transform: none;
  }

  .image_container {
    margin: 0;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
  }

  .info {
    position: absolute;
    top: -35px;

    time {
      background: rgba(214, 214, 214, 0.5);
      color: #000;
      font-size: 0.7rem;
      padding: 2px 5px;
      font-weight: 700;
    }
  }

  .more {
    margin-bottom: 10px;

    a {
      @extend .btn;
    }
  }
}

.layout_short .info {
  position: relative;
  top: 0;
}

.layout_simple, .layout_upcoming {
  background: $oddColor6;
  margin: 5px 0;
  padding: 5px 15px;

  time {
    padding-right: 15px;
  }

  a {
    font-family: $headingFont;
    font-weight: 700;
  }
}

.layout_full {
  time {
    background: $oddColor2;
    color: $oddColor6;
    padding: 5px 15px;
    display: inline-block;
  }

  h2, h3, h4, h5, h6 {
    margin-top: 30px;
  }

  .btn {
    text-align: left;
    padding: 0 0 20px;
  }
}

.mod_newslist {
  &.row nav {
    padding: 0 15px;
  }

  nav {
    margin-top: 20px;
  }
}

.mod_newslist, .mod_eventlist {
  nav {
    margin-top: 30px;
    width: 100%;

    p {
      float: right;
    }
  }
}

.pagination {
  li {
    strong, a {
      background: $oddColor2;
      color: $oddColor6;
      font-weight: 400;

      &.active {
        background: $oddColor6;
        color: $oddColor2;
      }

      &:hover {
        background: $oddColor6;
        color: $oddColor2;
      }
    }
  }

  .page-item:first-child, .page-item:last-child {
    .page-link {
      border-radius: 0;
    }
  }
}

.calendar {
  width: 100%;
}

.calendar, .minicalendar {

  th, td {
    padding: 5px;
    font-weight: 400;
    text-align: center;
    border: 2px solid $page_background;
  }

  th {
    background: $oddColor2;
    color: $oddColor6;

    a {
      color: $oddColor6;
      font-weight: 700;
    }
  }

  td {
    background: $oddColor6;
    color: #333;
    max-width: 100px;

    a {
      font-size: 0.8rem;
      padding: 0 10px;
      display: inline-block;
    }

    &.active {
      background: #e4e4e4;
    }

    &.weekend {
      color: $oddColor2;
    }
  }
}

.minicalendar {
  td, th {
    padding: 5px 15px;
  }

  td a {
    font-size: 1rem;
  }
}

.layout_teaser, .layout_list {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #dadada;

  &:first-child {
    padding-top: 30px;
    border-top: 1px solid #dadada;
  }

  h3 {
    margin-top: 0;
    text-transform: none;
    margin-bottom: 10px;
  }

  .month {
    text-transform: uppercase;
    font-size: 1.2rem;
    padding-bottom: 10px;
    position: relative;
    font-family: $headingFont;

    &:after {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      border-bottom: 1px solid #808080;
      width: 25px;
    }
  }

  .day {
    font-size: 2.5rem;
    font-weight: 700;
    font-family: $headingFont;
  }

  .more {
    margin: 0;

    a {
      display: inline-block;
      color: #333;
      font-family: $headingFont;
      font-weight: 700;
      letter-spacing: 1px;

      &:after {
        content: "\f061";
        font-family: "Font Awesome 5 Solid";
        display: none;
      }
    }

    svg {
      margin-left: 10px;
    }
  }

  .time {
    display: inline-block;
    font-size: 0.8rem;
    margin-bottom: 10px;
    color: #808080;
  }

  p {
    margin-bottom: 10px;
  }

  .image_container {
    margin: 0;
  }
}

.mod_eventlist {
  overflow: hidden;
}

.recurring {
  font-size: 0.8rem;
  font-style: italic;
}

/* Formulare */
.form-control {
  border-radius: 0;

  &:focus {
    border: 1px solid $oddColor2;
    box-shadow: none;
  }
}

.widget-select label {
  display: block;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before,
.custom-radio .custom-control-input:checked~.custom-control-label::before {
  background-color: $oddColor2;
}

input {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: $oddColor6;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.custom-file-label {
  border-radius: 0;
}

/* User Module */
.mod_registration, .mod_personalData {
  overflow: hidden;

  button {
    width: 300px;
  }

  fieldset {
    margin-bottom: 20px;
  }

  .formbody {
    margin-left: -15px;
    margin-right: -15px;
  }

  legend {
    padding: 0 15px 10px;
    position: relative;
    margin-bottom: 15px;

    &:after {
      position: absolute;
      content: "";
      border-bottom: 2px solid $oddColor2;
      left: 15px;
      bottom: 0;
      width: 100px;
    }
  }

  .widget {
    width: 50%;
    float: left;
    padding: 0 15px;

    &.widget-checkbox {
      width: 100%;
    }

    &.widget-captcha {
      display: block !important;
    }
  }
}

.mod_login, .mod_lostPassword, .mod_changePassword {
  input {
    max-width: 300px;
  }

  button {
    width: 300px;
  }
}

/* Newsletter */
.mod_subscribe:not(.nl-footer), .mod_unsubscribe {
  input[type='text'] {
    max-width: 300px;
  }

  button {
    width: 100%;
    max-width: 300px;
    margin-top: 20px;
  }
}

p.confirm {
  color: #58ad1c;
  font-weight: 700;
}

/* FAQ */
.mod_faqpage {
  h3 {
    margin: 0;
    text-transform: none;
    font-size: 1rem;
  }
}

.mod_faqlist {
  ul {
    padding: 0;

    li {
      list-style-type: none;
      border-bottom: 2px solid $oddColor5;
      padding: 0;

      &:first-child {
        border-top: 2px solid $oddColor5;
      }

      a {
        color: $oddColor5;
        font-family: $headingFont;
        font-size: 1rem;
        font-weight: 700;
        padding: 5px 10px;
        display: block;

        &:hover {
          background: $oddColor5;
          color: $oddColor6;
        }
      }
    }
  }
}

/* Suche */
.mod_search {
  .input-group>.form-control {
    width: 100%;
    margin-bottom: 10px;
  }

  h3 {
    text-transform: none;
    font-size: 1.2rem;
    border-top: 2px solid $oddColor5;
    border-bottom: 2px solid $oddColor5;
    position: relative;

    a {
      color: $oddColor5;
      padding: 5px 15px;
      display: block;

      &:hover {
        background: $oddColor5;
        color: $oddColor6;

        + .relevance {
          color: $oddColor6;
        }
      }
    }
  }

  .relevance {
    font-size: 0.9rem;
    float: right;
    text-transform: none;
    padding: 7px 15px 0 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  .mark, mark {
    color: $oddColor5;
    background: none;
    display: inline-block;
    margin: 2px 0;
    padding: 0;
    font-family: $headingFont;
    font-weight: 700;
  }

  .url {
    display: none;
  }
}

/* Textelemente */
.ce_table, .ce_text {
  table {
    width: 100%;
  }

  th, td {
    padding: 5px;
    border: 2px solid #f5faff;
  }

  th {
    background: $oddColor2;
    color: $oddColor6;
  }

  td {
    background: $oddColor6;
  }
}

pre code {
  background: $oddColor6;
  padding: 20px;
  display: block;
}

blockquote {
  background: $oddColor6;
  padding: 15px;

  p:last-child {
    margin-bottom: 0;
  }
}

.ce_accordion {
  .toggler {
    background: none;
    color: $oddColor5;
    border-top: 2px solid $oddColor5;
    border-bottom: 2px solid $oddColor5;
    position: relative;
    font-family: $headingFont;
    font-weight: 700;
    padding: 10px 15px;

    &:hover {
      background: $oddColor5;
      color: $oddColor6;

      &:after {
        color: $oddColor6;
      }
    }

    &:after {
      position: absolute;
      right: 15px;
      top: 0;
      color: $oddColor5;
      font-family: $headingFont;
      font-weight: 700;
      display: flex;
      align-items: center;
      height: 100%;
      font-size: 2rem;
    }

    &.active:after {
      content: "-";
    }

    &:not(.active):after {
      content: "+";
      margin-top: -2px;
    }
  }

  .accordion {
    background: none;
    padding: 15px 0;
    margin: 0;
  }
}

.ce_download {
  a {
    padding: 5px 10px;
    display: block;
    background: $oddColor6;
    font-family: $headingFont;
    font-weight: 700;
  }
}

.ce_downloads {
  ul {
    padding: 0;

    li {
      list-style-type: none;
      margin: 5px 0;

      a {
        padding: 5px 10px;
        display: block;
        font-family: $headingFont;
        font-weight: 700;
      }

      &:nth-child(even) a {
        background: $oddColor6;
      }

      &:nth-child(odd) a {
        background: rgba($oddColor2, .1);
      }
    }
  }
}

/* ======================== */
/* Theme Elemente           */
/* ======================== */

// Farben
.primary-bg {
  background: $gradientPrimaryColor2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, $gradientPrimaryColor1, $gradientPrimaryColor2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, $gradientPrimaryColor1, $gradientPrimaryColor2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

// Schräge
.skw-tr, .skw-tl, .skw-br, .skw-bl {
  position: relative;
  overflow: hidden;
  margin-top: -75px;

  &:first-child, &.first {
    margin-top: 0;
  }
}

.skw-tr, .skw-tl {
  .container {
    padding-top: 100px;
  }
}

.skw-br, .skw-bl {
  .container {
    padding-bottom: 100px;
  }
}

.skewed-bg {
  height: 230px;
  position: absolute;
  -webkit-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  width: 150%;
  left: -5%;
  z-index: 0;

  &.skewed-top {
    &.skewed-right {
      -webkit-transform: rotate(-3deg);
      -ms-transform: rotate(-3deg);
      transform: rotate(-3deg);
      top: -170px;
    }

    &.skewed-left {
      top: -100px;
    }
  }

  &.skewed-bottom {
    &.skewed-right {
      -webkit-transform: rotate(-3deg);
      -ms-transform: rotate(-3deg);
      transform: rotate(-3deg);
      bottom: -100px;
    }

    &.skewed-left {
      bottom: -170px;
    }
  }
}

.skw-top-primary .skewed-top.skewed-bg {
  @extend .primary-bg;
}
.skw-btm-primary .skewed-bottom.skewed-bg {
  @extend .primary-bg;
}

// Feature-Element
.ce_ct_featureElement {
  clear: both;
  display: table;
  padding: 10px 0;

  .icon {
    width: 55px;
    display: table-cell;
    vertical-align: middle;
  }

  .feature-text {
    width: 100%;

    p {
      margin: 0;
    }
  }

  .headline {
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
  }

  svg {
    border: 2px solid $oddColor2;
    border-radius: 100%;
    font-size: 2.5rem;
    padding: 10px;
    color: $oddColor2;
  }
}
#wrapper .ce_ct_featureElement svg {
  width: 40px;
}

// Preisbox
.ce_ct_priceBox {
  padding: 0;
  margin: 50px 0;

  .inside {
    background: $pricebox_background;
    padding: 30px;
    border-radius: $borderRadius;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    text-align: center;
  }

  &:nth-of-type(1) .inside {
    border-top: 8px solid $pricebox_1_color;

    .amount {
      color: $pricebox_1_color;
    }

    .first-link a {
      @extend .btn;
      margin: 15px 0;
      background: $pricebox_1_color;

      &:hover {
        background: $pricebox_1_button_background_hover;
      }
    }

    .second-link a {
      color: $pricebox_1_color;
    }

    .popular-label {
      background: $pricebox_1_color;
      color: $oddColor6;
    }
  }

  &:nth-of-type(2) .inside {
    border-top: 8px solid $pricebox_2_color;

    .amount {
      color: $pricebox_2_color;
    }

    .first-link a {
      background: $pricebox_2_color;
      color: $oddColor6;

      &:hover {
        background: $pricebox_2_button_background_hover;
      }
    }

    .second-link a {
      color: $pricebox_2_color;
    }

    .popular-label {
      background: $pricebox_2_color;
      color: $oddColor6;
    }
  }

  &:nth-of-type(3) .inside {
    border-top: 8px solid $pricebox_3_color;

    .amount {
      color: $pricebox_3_color;
    }

    .first-link a {
      background: $pricebox_3_color;
      color: $oddColor6;

      &:hover {
        background: $pricebox_3_button_background_hover;
      }
    }

    .second-link a {
      color: $pricebox_3_color;
    }

    .popular-label {
      background: $pricebox_3_color;
      color: $oddColor6;
    }
  }

  &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3) {
    .inside .second-link:hover {
      color: #000;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    color: $pricebox_text_color;
  }

  .price {
    padding: 0 0 20px;

    .amount {
      font-size: 2.5rem;
      font-weight: 700;
      font-family: $headingFont;
    }

    .label {
      color: #808080;
    }
  }

  .text {
    padding: 10px 0;

    p {
      border-bottom: 2px solid $oddColor6;
      padding: 0 0 5px;
      margin: 0 0 5px;
      color: $pricebox_text_color;
    }
  }

  .first-link a {
    display: inline-block;
    padding: 10px 20px;
    font-weight: 700;
    margin: 15px 0;
    border-radius: $borderRadius;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
  }

  .second-link a {
    font-weight: 700;
  }

  .popular-label {
    display: inline-block;
    padding: 5px 10px;
    margin-bottom: 15px;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 700;
    font-family: $headingFont;
    border-radius: $borderRadius;
  }

  &.popular-box {
    margin-top: 10px;
  }
}

// Referenzen
.references {
  figure {
    position: relative;

    &:hover .info {
      display: flex;
    }
  }

  .info {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    background: rgba(247, 247, 247, 0.9);
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    border-radius: $borderRadius;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);

    > div {
      width: 100%;
    }

    a {
      font-weight: 700;
    }
  }

  .title {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 5px;
  }

  .img-thumbnail {
    border-radius: $borderRadius;
    padding: 0;
    border: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
  }
}

#anfragen {
  label {
    font-weight: 700;
  }

  button {
    margin-left: 150px;
    float: left;
  }
}

input, button {
  &:focus {
    outline: 0;
  }
}

// Kopfbild
.headerImage {
  position: relative;

  .caption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;

    h1 {
      background: $header-image-background;
      padding: 15px 30px;
      text-align: center;
      margin: 0 auto;
      color: $header-image-color;
    }
  }

  img {
    max-width: inherit;
    width: 100%;
  }
}

.skw-bl, .skw-br, .skw-tl, .skw-tr {
    .headerImage h1 {
        margin-top: -100px;
    }
}

// Slider
.ce_sliderElement {
  position: relative;
  background: #000;
  height: 100%;

  .text {
    position: absolute;
    top: 80px;
    background: none;
    padding: 0;
    width: 100%;
    left: 0;
    box-shadow: none;
    text-align: center;
    border-radius: 0;

    .inside {
      background: $slider-background;
      padding: 30px;
      width: 600px;
      border-radius: 0;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
      -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
      margin-bottom: 5px;
    }

    h1, h2, h3, h4, h5, h6 {
      margin-top: 0;
      &, a {
        color: $slider-headline-color;
      }
    }

    p {
      font-size: 1rem;
      padding: 10px 0;
      color: $slider-text-color;
    }
  }

  .bg-image {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.8;
  }

  &.top-right .inside {
    float: right;
  }
  &.bottom-left .text {
    bottom: 80px;
    top: inherit;
  }
  &.bottom-right {
    .text {
      bottom: 80px;
      top: inherit;
    }

    .inside {
      float: right;
    }
  }

  img {
    width: 100%;
  }

  .readmore {
    background: $slider-button-background;
    color: $slider-button-color;

    &:hover {
      background: $slider-button-background-hover;
      color: $slider-button-color-hover;
    }
  }

  .subheadline {
    text-transform: uppercase;
    color: $slider-subheadline-color;
    font-family: $headingFont;
    font-size: 12px;
    margin-bottom: 10px;
  }
}

.ce_sliderStart {
  position: relative;

  .slider-control {
    z-index: 10;
    position: static;

    .slider-prev, .slider-next {
      background: rgba(51, 51, 51, 0.73);
      color: $oddColor6;
      width: 50px;
      height: 50px;
      font-size: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 50%;
      margin-top: -25px;
    }

    .slider-prev {
      left: 15px;
    }

    .slider-next {
      right: 15px;
    }

    .slider-menu {
      bottom: -50px;
      top: inherit;
      z-index: 1;

      b {
        color: $slider-control-color;
        font-size: 2rem;
        padding: 3px;

        &.active {
          color: $slider-control-color-active;
        }
      }
    }
  }
}

.slider {
  &.skw-tr, &.skw-tl {
    .skewed-bg {
      top: 0;
    }
  }

  &.skw-bl .skewed-bg {
    bottom: -75px;
  }

  &.skw-br .skewed-bg {
    bottom: 0;
  }

  &.skw-tr, &.skw-tl, &.skw-br, &.skw-bl {
    .slider-control {
      z-index: 1;
    }

    .slider-menu {
      position: absolute;
      bottom: 100px;
      z-index: 1;
    }
  }
}

#main .slider {
  &.skw-bl, &.skw-br {
    + .mod_article {
      padding-top: 0;
    }
  }
}

// Jetzt Bestellen Bereich
.invitation {
  p {
    color: $oddColor6;
    font-size: 1.5rem;
    font-family: $headingFont;
    font-weight: 700;
  }

  .ce_hyperlink {
    margin-top: 15px;

    &.btn a {
      background: $oddColor5;

      &:hover {
        background: $oddColor2;
      }
    }
  }
}

// Teaser Box
.ce_ct_teaserBox {
  h2, h3, h4, h5, h6 {
    margin-bottom: 10px;
    margin-top: 0;
    word-wrap: break-word;
  }

  .inside {
    background: $teaserbox-background;
    padding: 20px;
  }

  .pageLink {
      a {
        @extend .btn;
        margin-top: 0;
      }
  }
}

// Content Box
.ce_ct_contentBox {
  padding: 30px;

  .pageLink a {
    @extend .btn;
  }

  &:nth-child(odd) {
    background: $contentbox-odd-background;

    h2, h3, h4, h5, h6, a, p {
      color: $contentbox-odd-color;
    }

    .pageLink a {
      background: $contentbox-odd-button-background;
      color: $contentbox-odd-button-color;

      &:hover {
        background: $contentbox-odd-button-background-hover;
        color: $contentbox-odd-button-color-hover;
      }
    }
  }

  &:nth-child(even) {
    background: $contentbox-even-background;

    h2, h3, h4, h5, h6, a, p {
      color: $contentbox-even-color;
    }

    .pageLink a {
      background: $contentbox-even-button-background;
      color: $contentbox-even-button-color;

      &:hover {
        background: $contentbox-odd-button-background-hover;
        color: $contentbox-odd-button-color-hover;
      }
    }
  }

  h2, h3, h4, h5, h6 {
    margin: 0 0 15px 0;
    text-transform: none;
  }
}

// Simple Box
.simplebox {
  margin-bottom: 30px;

  .inside {
    padding: 15px;
    background: $simplebox_background;
    height: 100%;
  }

  h2, h3, h4, h5, h6 {
    margin-top: 0;
  }

  h2, h3, h4, h5, h6, p, a {
    color: $simplebox_color;
  }
}

/* ======================== */
/* Header                   */
/* ======================== */

.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}

#wrapper {
  padding-top: 155px;
}

.navbar {
  height: 100px;
  background: $navbar-background !important;

  .navbar-toggler {
    background: $navbar-toggler-background;
    border-radius: 0;
    border: none;

    &:focus {
      outline: 0;
    }
  }
}

.mod_navigation {
  width: 100%;
  text-align: right;

  ul {
    padding: 0;
    margin: 0;

    li {
      list-style-type: none;
      display: inline-block;
      position: relative;
    }
  }

  a, strong {
    padding: 15px;
    font-size: 18px;
    color: $nav-color;
    display: inline-block;

    &:hover {
      color: $nav-hover-color;

      & + .dropdown-toggle {
        color: $nav-hover-color;
      }
    }
  }

  strong {
    color: $nav-active-color;
  }

  svg {
    margin-right: 10px;
    margin-left: -5px;
  }

  .dropdown-toggle {
    color: $nav-color;
  }
}

header {
  figure {
    margin: 0;
  }

  .back {
    display: none;
  }
}

header, footer {
  .container .container {
    max-width: 100%;
    padding: 0;
    margin: 0;
  }
}

.navbar-top {
  background: $gradientPrimaryColor2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, $navbar-top-background1, $navbar-top-background2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, $navbar-top-background1, $navbar-top-background2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 15px 0;
  color: $navbar-top-color;
  font-size: 1rem;
  font-family: $headingFont;
  height: 55px;

  > .container {
    overflow: hidden;
  }

  .mod_article {
    .container {
      display: table;
      width: 100%;

      > div {
        display: table-cell;
        vertical-align: middle;
      }

      .ce_ct_featureElement {
        display: inline-block;
      }
    }
  }

  a {
    color: $navbar-top-color;
  }

  .ce_text, .social-media {
    display: inline-block;
    font-size: 1.1rem;
  }

  .tel {
    margin-right: 30px;
  }

  p {
    margin: 0;
  }

  .ce_ct_featureElement {
    padding: 0;
    vertical-align: middle;

    .feature-text {
      display: inherit;
      width: inherit;
      margin-right: 30px;
    }

    .icon {
      float: left;
      width: inherit;
    }
  }

  .social-media {
    float: right;
    border-left: 1px solid $navbar-top-color;
    padding-left: 15px;

    .feature-text {
      display: none;
    }
  }

  svg {
    color: $navbar-top-color;
    border: none;
    padding: 0;
    font-size: inherit;
  }

  .facebook a:before {
    content: "\f39e";
    font-family: "Font Awesome 5 Brands";
    display: none;
  }
}

@media (min-width:992px) {
  .mod_navigation {
    ul {
      &.level_1 > li:hover .level_2 {
        display: block;
      }

      &.level_2 > li:hover .level_3 {
        display: block;
      }
    }

    .level_2, .level_3 {
      display: none;
      position: absolute;
      top: 57px;
      left: 0;
      width: 250px;
      background: $nav-dropdown-background;
      z-index: 10;
      border-radius: $borderRadius;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
      -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
      border: none;

      li {
        display: block;
        text-align: left;
        overflow: hidden;

        a, strong {
          font-weight: 400;
          font-size: 1rem;
          text-transform: inherit;
          display: block;
          padding: 10px 15px;
          color: $nav-dropdown-color;
        }

        a.submenu {
          padding-right: 50px;
          position: relative;
        }

        .dropdown-toggle {
          color: $nav-dropdown-color;
          position: absolute;
          top: 0;
          right: 0;
          height: 45px;
          display: flex;
          align-items: center;
          padding: 0 15px;
        }

        a:hover {
          color: $nav-dropdown-hover-color;
          background: $nav-dropdown-hover-background;
        }

        strong {
          font-weight: 700;
        }
      }
    }

    .level_3 {
      position: relative;
      top: inherit;
      box-shadow: none;
      background: rgba(255,255,255,.2);

      li {
        a, strong {
          font-size: 14px;
        }
      }
    }
  }

  .dropdown-toggle {
    display: inline;
  }

  .nav-container {
    &.stuck {
      .navbar {
        height: 60px;
        transition: all 0.25s ease-in-out;
      }

      .navbar-brand img {
        height: 70px;
        width: auto;
      }
    }
  }
}

.mod_navigation.subnav {
  background: $subnav-background;

  ul li {
    display: block;

    a, strong {
      color: $subnav-color;
      background: none;
      display: block;
      text-align: center;
      padding: 8px 15px;
      font-weight: 400;
      position: relative;
      font-size: 1rem;

      &:not(.first):after {
        position: absolute;
        content: "";
        border-bottom: 1px solid $subnav-border-color;
        width: calc(100% - 60px);
        left: 30px;
        top: -1px;
      }

      &.active, &:hover {
        background: $subnav-hover-active-background;
        color: $subnav-hover-active-color;

        &:after {
          display: none;
        }
      }
    }
  }
}

/* Sloping Header */

.nav-container.sloping {
  transform: rotate(3deg);
  width: calc(100% + 15px);
  top: -50px;
  left: -5px;

  .navbar-top {
    height: 120px;
    display: flex;
    align-items: flex-end;

    .mod_article .container {
      text-align: right;
    }
  }

  + .mod_article {
    margin-top: -50px;
  }
}

#container.sloping {
  margin-top: -60px;

  aside .inside {
    padding-top: 110px;
  }

  .mod_article.first:not(.slider) {
    padding-top: 110px;
  }
}

.sloping .ce_sliderElement .text .inside {
  margin-top: 40px;
}

/* ======================== */
/* Footer                   */
/* ======================== */

footer {
  .main-footer {
    background: $main-footer-background;
    padding: 50px 0;

    .row > div:not(.last) {
      position: relative;
      border-right: 1px solid $main-footer-border-color;
    }

    h2, h3, h4, h5, h6 {
      font-size: 1.2rem;
      margin: 0 0 20px;
      text-transform: uppercase;
    }
  }

  .copyright-footer {
    background: $copyright-footer-background;
    padding: 30px 0;
    text-align: center;

    p {
      margin: 0;
    }

    .container {
      padding: 0;
    }
  }

  .main-footer, .copyright-footer {
    a, strong, p, h1, h2, h3, h4, h5, h6 {
      font-weight: 400;
    }
  }

  .main-footer {
    a, strong, p, h1, h2, h3, h4, h5, h6 {
      color: $main-footer-color;
    }
  }

  .copyright-footer {
    a, strong, p, h1, h2, h3, h4, h5, h6 {
      color: $copyright-footer-color;
    }
  }

  .ce_ct_featureElement {
    padding: 5px;

    .icon {
      width: 30px;
      display: inline-block;
      float: left;
    }

    svg {
      border: none;
      border-radius: 0;
      font-size: 1rem;
      padding: 0;
    }

    .feature-text {
      width: calc(100% - 30px);
      display: inline-block;
      float: left;
    }

    &:nth-of-type(1) {
      padding-top: 0;
    }
  }

  ul {
    padding: 0;

    li {
      padding-bottom: 10px;
    }
  }

  .mod_article .container {
    max-width: 100%;
  }

  .toplink {
    position: fixed;
    right: 50px;
    bottom: 50px;
    background: $oddColor3;
    padding: 9px 10px;
    line-height: 1em;
    opacity: 0;
    transition: opacity .25s ease-in-out;
    z-index: 1000;

    svg {
      color: $oddColor6;
      font-size: 1.5rem;
    }

    &.active {
      opacity: 1;
    }
  }

  .skewed-bg {
    background: $newsletter-background;
  }

  .mod_subscribe .row > div {
    z-index: 10;
  }
}

#wrapper footer .ce_ct_featureElement svg {
  width: 16px;
}

.nl-footer {
  &, .skewed-bg.skewed-bottom {
    background: $newsletter-background;
  }

  .skewed-top {
    background: $page-background;
  }

  .container {
    padding: 150px 0 50px;
    z-index: 2;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  h2, h3, h4, h5, h6 {
    color: $newsletter-color;
    margin: 0;
  }

  .row {
    margin: 0;
  }

  .widget-text, .widget-submit {
    display: table-cell;
    vertical-align: top;
  }

  .widget-text {
    padding-right: 10px;
  }

  input {
    height: 50px;
    font-size: 1.1rem;
    padding: 0 15px;
    border: none;
    background: $newsletter-input-background;
    border-radius: 0;

    &, &::placeholder {
      color: $newsletter-input-color;
    }
  }

  button {
    height: 50px;
    background: $newsletter-button-background;
    color: $newsletter-button-color;
    cursor: pointer;
    box-shadow: none;
    border: $newsletter-button-border;
    margin-top: 0;

    &:hover {
      background: $newsletter-button-background-hover;
      color: $newsletter-button-color-hover;
      border: $newsletter-button-border-hover;
    }
  }
}

#footer a:hover {
  color: $footer-links-hover-color;
}

/* ======================== */
/*     Responsive           */
/* ======================== */

@import 'responsive';
@import '../../../../../../../files/odd/scss/custom';