@charset "UTF-8";

@import "odd_variables";

@font-face {
  font-family: "Cabin";
  src: url("/bundles/pdirthemeodd/fonts/Cabin/Cabin-Regular.ttf");
}

@font-face {
  font-family: "Muli";
  src: url("/bundles/pdirthemeodd/fonts/Muli/Muli-Regular.ttf");
}

body {
  font-family: $mainFont;
  color: $black;
}

a {
  color: $primaryColor;

  &:hover {
    color: #3e71b6;
    text-decoration: none;
  }

  &:focus {
    outline: 0;
  }
}

.readmore, a.btn, .btn a, button, .btn-primary {
  background: $primaryColor;
  color: $grey;
  padding: 10px 20px;
  display: inline-block;
  font-weight: 700;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
  border: none;

  &:hover {
    background: #3e71b6;
    color: $grey;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.invisible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.headroom {
    will-change: transform;
    transition: transform 200ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}

/* ======================== */
/* Layout                   */
/* ======================== */

#main {
  .inside {
    overflow: hidden;

    > .mod_article {
      padding: 80px 0;

      &.slider {
        padding-top: 0;
      }

      &.slope-section {
        padding-bottom: 100px;
      }

      &.intro {
        padding: 0;
      }
    }
  }
}

.center {
  text-align: center;
}

/* ======================== */
/* Contao-Elemente          */
/* ======================== */

.bordered-heading {
  h1, h2, h3, h4, h5, h6, h1&, h2&, h3&, h4&, h5&, h6& {
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 40px;

    &:after {
      position: absolute;
      bottom: 0;
      content: "";
      left: 0;
      border-bottom: 3px solid $primaryColor;
      width: 100px;
    }
  }
}

.center .bordered-heading, .bordered-heading.center {
  h1, h2, h3, h4, h5, h6, h1&, h2&, h3&, h4&, h5&, h6& {
    &:after {
      left: 50%;
      margin-left: -50px;
    }
  }
}
.center {
  h1, h2, h3, h4, h5, h6 {
    &.bordered-heading:after {
      left: 50%;
      margin-left: -50px;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headingFont;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.6rem;
}
h4 {
  font-size: 1.4rem;
}
h5 {
  font-size: 1.2rem;
}
h6 {
  font-size: 1rem;
}

.ce_accordion {
  margin-bottom: 15px;

  .toggler {
    background: $primaryColor;
    padding: 10px 15px;
    cursor: pointer;
    color: $grey;

    &:focus {
      outline: 0;
    }
  }

  .accordion {
    background: $grey;
    padding: 15px;

    p {
      margin: 0;
    }
  }
}

.ce_gallery {
  overflow: hidden;

  ul {
    padding: 0;

    li {
      list-style-type: none;
      float: left;
    }
  }
}

/* ======================== */
/* Theme Elemente           */
/* ======================== */

// Buttons
.btn {
    background: $primaryColor;
    color: $grey;
    border-radius: 0;
    padding: 8px 15px;
    font-weight: 400;
    font-size: 0.9rem;
}

// Farben
.secondary-bg {
  background: $gradientSecondaryColor2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, $gradientSecondaryColor1, $gradientSecondaryColor2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, $gradientSecondaryColor1, $gradientSecondaryColor2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.primary-bg {
  background: $gradientPrimaryColor2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, $gradientPrimaryColor1, $gradientPrimaryColor2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, $gradientPrimaryColor1, $gradientPrimaryColor2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

// Schräge
.skw-tr, .skw-tl, .skw-br, .skw-bl {
  position: relative;
  overflow: hidden;
  margin-top: -75px;

  &:first-child, &.first {
    margin-top: 0;
  }
}

.skw-tr, .skw-tl {
  .container {
    padding-top: 100px;
  }
}

.skw-br, .skw-bl {
  .container {
    padding-bottom: 100px;
  }
}

.skewed-bg {
  background: #fff;
  height: 230px;
  position: absolute;
  -webkit-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  transform: rotate(5deg);
  width: 150%;
  left: -5%;
  z-index: 0;

  &.skewed-top {
    &.skewed-right {
      -webkit-transform: rotate(-5deg);
      -ms-transform: rotate(-5deg);
      transform: rotate(-5deg);
      top: -170px;
    }

    &.skewed-left {
      top: -100px;
    }
  }

  &.skewed-bottom {
    &.skewed-right {
      -webkit-transform: rotate(-5deg);
      -ms-transform: rotate(-5deg);
      transform: rotate(-5deg);
      bottom: -100px;
    }

    &.skewed-left {
      bottom: -170px;
    }
  }
}

.skw-top-primary .skewed-top.skewed-bg {
  @extend .primary-bg;
}
.skw-btm-primary .skewed-bottom.skewed-bg {
  @extend .primary-bg;
}
.skw-top-secondary .skewed-top.skewed-bg {
  @extend .secondary-bg;
}
.skw-btm-secondary .skewed-bottom.skewed-bg {
  @extend .secondary-bg;
}

// Feature-Element
.ce_featureElement {
  clear: both;
  display: table;
  padding: 10px 0;

  .icon {
    width: 55px;
    display: table-cell;
    vertical-align: middle;
  }

  .feature-text {
    width: 100%;

    p {
      margin: 0;
    }
  }

  .headline {
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
  }

  svg {
    border: 2px solid $darkGrey;
    border-radius: 100%;
    font-size: 2.5rem;
    padding: 10px;
    color: $darkGrey;
  }
}
#wrapper .ce_featureElement svg {
  width: 40px;
}

// Preisbox
.ce_priceBox {
  padding: 0;

  .inside {
    background: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    text-align: center;
  }

  &:nth-of-type(1) .inside {
    border-top: 8px solid $primaryColor;

    .amount {
      color: $primaryColor;
    }

    .first-link a {
      @extend .btn;
    }

    .second-link a {
      color: $primaryColor;
    }

    .popular-label {
      background: $primaryColor;
      color: $black;
    }
  }

  &:nth-of-type(2) .inside {
    border-top: 8px solid #00b8ff;

    .amount {
      color: #00b8ff;
    }

    .first-link a {
      background: #00b8ff;
      color: #fff;

      &:hover {
        background: #00a8ff;
      }
    }

    .second-link a {
      color: #00b8ff;
    }

    .popular-label {
      background: #00b8ff;
      color: #fff;
    }
  }

  &:nth-of-type(3) .inside {
    border-top: 8px solid #d74200;

    .amount {
      color: #d74200;
    }

    .first-link a {
      background: #d74200;
      color: #fff;

      &:hover {
        background: #d70009;
      }
    }

    .second-link a {
      color: #d74200;
    }

    .popular-label {
      background: #d74200;
      color: #fff;
    }
  }

  &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3) {
    .inside .second-link:hover {
      color: #000;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }

  .price {
    padding: 0 0 20px;

    .amount {
      font-size: 2.5rem;
      font-weight: 700;
      font-family: $headingFont;
    }

    .label {
      color: $darkGrey;
    }
  }

  .text {
    padding: 10px 0;

    p {
      border-bottom: 2px solid $grey;
      padding: 0 0 5px;
      margin: 0 0 5px;
    }
  }

  .first-link a {
    display: inline-block;
    padding: 10px 20px;
    font-weight: 700;
    margin: 15px 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
  }

  .second-link a {
    font-weight: 700;
  }

  .popular-label {
    display: inline-block;
    padding: 5px 10px;
    margin-bottom: 15px;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 700;
    font-family: $headingFont;
    border-radius: 5px;
  }

  &.popular-box {
    margin-top: -20px;
  }
}

// Referenzen
.references {
  figure {
    position: relative;

    &:hover .info {
      display: flex;
    }
  }

  .info {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    background: rgba(247, 247, 247, 0.9);
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);

    > div {
      width: 100%;
    }

    a {
      font-weight: 700;
    }
  }

  .title {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 5px;
  }

  .img-thumbnail {
    border-radius: 5px;
    padding: 0;
    border: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
  }
}

// Formulare
.ce_form {
  label {
    display: inline-block;
    width: 150px;
    float: left;
    text-align: left;
  }

  input, textarea, select {
    display: inline-block;
    width: calc(100% - 150px);
    border-radius: 5px;
    border: none;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    max-width: 400px;

    &:focus {
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
      -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
        outline: 0;
    }
  }

  textarea {
    max-width: 500px;
  }

  .widget-checkbox label {
    width: 100%;
  }
}

#anfragen {
  label {
    font-weight: 700;
  }

  button {
    margin-left: 150px;
    float: left;
  }
}

// Kopfbild
.headerImage {
  position: relative;

  .caption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;

    h1 {
      background: rgba(255, 255, 255, 0.5);
      padding: 15px 30px;
      text-align: center;
      margin: 0 auto;
    }
  }
}

.skw-bl, .skw-br, .skw-tl, .skw-tr {
    .headerImage h1 {
        margin-top: -100px;
    }
}

// Slider
.ce_sliderElement {
  position: relative;
  background: #000;
  height: 100%;

  .text {
    position: absolute;
    top: 10%;
    left: 7%;
    width: 600px;
    background: rgba(255,255,255,.8);
    padding: 30px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);

    h1, h2, h3, h4, h5, h6 {
      &, a {
        color: #1b4673;
      }
    }

    p {
      font-size: 1.1rem;
      padding: 10px 0;
      color: #1b4673;
    }
  }

  .bg-image {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.8;
  }
}

.ce_sliderStart {
  .slider-next, .slider-prev {
    display: none;
  }

  .slider-control {
    .slider-menu b {
      color: $black;
      font-size: 2rem;
      padding: 3px;

      &.active {
        color: $primaryColor;
      }
    }
  }
}

.slider {
  &.skw-tr, &.skw-tl {
    .skewed-bg {
      top: 0;
    }
  }

  &.skw-bl .skewed-bg {
    bottom: -75px;
  }

  &.skw-br .skewed-bg {
    bottom: 0;
  }

  &.skw-tr, &.skw-tl, &.skw-br, &.skw-bl {
    .slider-control {
      z-index: 1;
      position: absolute;
      width: 100%;
      bottom: 150px;
    }
  }
}

// Jetzt Bestellen Bereich
.invitation {
  p {
    color: $grey;
    font-size: 1.5rem;
    font-family: $headingFont;
    font-weight: 700;
  }

  .ce_hyperlink {
    margin-top: 15px;

    &.btn a {
      background: $black;

      &:hover {
        background: $primaryColor;
      }
    }
  }
}

// Teaserbox
.ce_oddTeaserBox {
    h2, h3, h4, h5, h6 {
        margin-bottom: 10px;
        word-wrap: break-word;
    }

    .pageLink {
        a {
            @extend .btn;
        }
    }
}

/* ======================== */
/* Header                   */
/* ======================== */

.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);

  &.stuck .navbar {
    height: 60px;
    transition: all 0.25s ease-in-out;
  }
}

#wrapper {
  padding-top: 155px;
}

.navbar {
  height: 100px;
  background: $grey !important;

  .navbar-toggler {
    background: $primaryColor;
    border-radius: 0;
    border: none;

    &:focus {
      outline: 0;
    }
  }
}

.mod_navigation {
  width: 100%;
  text-align: right;

  ul {
    padding: 0;
    margin: 0;

    li {
      list-style-type: none;
      display: inline-block;
      position: relative;
    }
  }

  a, strong {
    padding: 15px;
    font-size: 18px;
    font-weight: 700;
    color: $black;
    display: inline-block;

    &:hover {
      color: $primaryColor;
    }
  }

  strong {
    color: $primaryColor;
  }

  svg {
    margin-right: 10px;
    margin-left: -5px;
  }
}

header {
  figure {
    margin: 0;
  }
}

header, footer {
  .container .container {
    max-width: 100%;
    padding: 0;
    margin: 0;
  }
}

.navbar-top {
  background: $primaryColor;
  padding: 15px 0;
  color: $grey;
  font-size: 1rem;
  font-family: $headingFont;
  font-weight: 700;
  height: 55px;

  > .container {
    overflow: hidden;
  }

  .mod_article {
    .container {
      display: table;
      width: 100%;

      > div {
        display: table-cell;
        vertical-align: middle;
      }

      .ce_featureElement {
        display: inline-block;
      }
    }
  }

  a {
    color: $grey;
  }

  .ce_text, .social-media {
    display: inline-block;
    font-size: 1.1rem;
  }

  .tel {
    margin-right: 30px;
  }

  p {
    margin: 0;
  }

  .ce_featureElement {
    padding: 0;
    vertical-align: middle;

    .feature-text {
      display: inherit;
      width: inherit;
      margin-right: 30px;
    }

    .icon {
      float: left;
      width: inherit;
    }
  }

  .social-media {
    float: right;
    border-left: 1px solid rgba(255,255,255,0.5);
    padding-left: 15px;

    .feature-text {
      display: none;
    }
  }

  svg {
    color: #f2f2f2;
    border: none;
    padding: 0;
    font-size: inherit;
  }

  .facebook a:before {
    content: "\f39e";
    font-family: "Font Awesome 5 Brands";
    display: none;
  }
}

@media (min-width:992px) {
  .mod_navigation {
    ul {
      &.level_1 > li:hover .level_2 {
        display: block;
      }
    }

    .level_2 {
      display: none;
      position: absolute;
      top: 57px;
      left: 0;
      width: 250px;
      background: $primaryColor;
      z-index: 10;
      border-radius: 5px;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
      -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
      border: none;

      li {
        display: block;
        text-align: left;

        a, strong {
          font-weight: 400;
          font-size: 1rem;
          text-transform: inherit;
          display: block;
          padding: 10px 15px;
          color: $grey;
        }

        a:hover {
          color: $grey;
          background: #3e71b6;
        }

        strong {
          font-weight: 700;
        }
      }
    }

    .level_3 {
      display: none;
    }
  }

  .dropdown-toggle {
    display: inline;
  }
}

/* ======================== */
/* Footer                   */
/* ======================== */

footer {
  .main-footer {
    background: $black;
    padding: 50px 0;

    .row > div:not(.last) {
      position: relative;
      border-right: 1px solid #484848;
    }
  }

  .copyright-footer {
    background: #1f1f1f;
    padding: 30px 0;
    text-align: center;

    p {
      margin: 0;
    }
  }

  a, strong, p, h1, h2, h3, h4, h5, h6 {
    color: #fff;
    font-weight: 400;
  }

  h2 {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }

  .ce_featureElement {
    padding: 5px;

    .icon {
      width: 30px;
      display: inline-block;
      float: left;
    }

    svg {
      border: none;
      border-radius: 0;
      font-size: 1rem;
      padding: 0;
    }

    .feature-text {
      width: calc(100% - 30px);
      display: inline-block;
      float: left;
    }

    &:nth-of-type(1) {
      padding-top: 0;
    }
  }

  ul {
    padding: 0;

    li {
      padding-bottom: 10px;
    }
  }

  .mod_article .container {
    max-width: 100%;
  }

  .toplink {
    position: fixed;
    right: 50px;
    bottom: 50px;
    background: $primaryColor;
    padding: 9px 10px;
    line-height: 1em;
    opacity: 0;
    transition: opacity .25s ease-in-out;
    z-index: 1000;

    svg {
      color: $grey;
      font-size: 1.5rem;
    }

    &.active {
      opacity: 1;
    }
  }
}

#wrapper footer .ce_featureElement svg {
  width: 16px;
}

/* ======================== */
/*     Responsive           */
/* ======================== */

@media (max-width:1180px) {
  footer {
    .main-footer .mod_article {
      padding: 0;
    }
  }
}

@media (max-width:1024px) {
  .ce_sliderElement {
    .text {
      right: 50px;
      margin: 0;
    }

    .bg-image {
      background-position: center right;
    }
  }

  .mod_navigation {
    a, strong {
      font-size: 16px;
      padding: 15px 10px;
    }
  }
}

@media (max-width:991px) {
    .ce_sliderElement {
        .bg-image {
            height: 200px;
        }

        .text {
            position: relative;
            width: 100%;
            right: 0;
            top: 0;
            height: 100%;
            background: #f7f7f7;
            left: 0;
            border-radius: 0;
            box-shadow: none;
            padding-bottom: 180px;
        }

        h1, h2, h3, h4, h5, h6 {
            font-size: 1.2rem;
        }
    }

    .slider-control .slider-menu {
        margin-top: 20px;
    }

    footer {
        .mod_article .container {
          padding: 0;
        }
    }

    #wrapper {
        padding-top: 134px;
    }

  /* Mobile Navigation Start */
  .navbar {
    height: 100% !important;
    padding: 0;

    .navbar-brand, .navbar-toggler {
      margin: 15px;
    }

    .navbar-toggler {
      z-index: 2;
    }

    .collapse.show {
      width: 100%;
      border-top: 2px solid $primaryColor;
      border-bottom: 2px solid $primaryColor;
      background: #fff;
      padding-bottom: 15px;
      top: 0;
      position: relative;

      .mod_navigation {
        height: calc(100vh - 80px);
        overflow: scroll;
      }
    }

    ul {
      padding-top: 15px;
      margin-bottom: 30px;

      li {
        display: block;
        text-align: center;

        a, strong {
          display: inline-block;
        }
      }
    }

    .container {
      max-width: 100%;
    }
  }

  .mod_navigation {
    .dropdown-toggle {
      position: absolute;
      top: 8px;
      right: 15px;
      background: #f2f2f2;
      height: 41px;
      width: 41px;

      &:after {
        border-top: .6em solid;
        border-right: .6em solid transparent;
        border-left: .6em solid transparent;
        vertical-align: -0.55em;
      }
    }

    .dropdown-menu {
      position: relative;
      width: 100%;
      border: none;
      background: #f2f2f2;
      padding-top: 0;
      border-radius: 0;
    }
  }

  .navbar-light .navbar-toggler-icon {
    background-image: none;
    display: flex;
    align-items: center;

    svg {
      width: 100%;
      font-size: 1.7rem;
      color: $grey;
    }
  }

  .navbar-top {
    .container {
      max-width: 100%;
    }
  }
  /* Mobile Navigation End */
}

@media (min-width:768px) and (max-width:991px) {
  .ce_featureElement {
    .feature-text {
      p {
        font-size: 0.8rem;
      }
    }
  }

  .container {
    max-width: 90%;
  }

  footer h2 {
    font-size: 1rem;
    height: 30px;
  }
}

@media (max-width:767px) {
  .ce_priceBox {
    margin-bottom: 30px;

    &.popular-box {
      margin-top: 0;
    }
  }



  footer {
    .row > div {
      text-align: center;
      margin-bottom: 30px;
    }

    .main-footer {
      padding-bottom: 0;
    }

    .ce_featureElement {
      margin: 0 auto;
    }

    .main-footer .row > div:not(.last) {
      border-right: none;
      border-bottom: 1px solid #484848;
      padding-bottom: 20px;
    }

    .toplink {
      right: 25px;
      bottom: 25px;
    }
  }

  .headerImage {
    .caption h1 {
      font-size: 1.5rem;
      max-width: 90%;
    }
  }

  #main .inside > .mod_article {
    padding: 20px 0;
  }

  /* Mobile Navigation Start */
  #wrapper {
    padding-top: 78px;
  }

  .navbar-top {
    display: none;
  }
  /* Mobile Navigation End */

  .skw-tr, .skw-tl, .skw-br, .skw-bl {
    margin-top: 0;
  }

  .ce_form {
    label {
      width: 100%;
      text-align: center;
    }

    input, textarea {
      width: 100%;
    }
  }

  #anfragen button {
    margin: 0;
    float: none;
  }

    .ce_oddTeaserBox {
        .inside {
            margin-bottom: 20px;
        }
    }
}

@import '../../../../../../../files/odd/scss/custom';