// Farben
.primary-bg {
  background: $gradientPrimaryColor2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, $gradientPrimaryColor1, $gradientPrimaryColor2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, $gradientPrimaryColor1, $gradientPrimaryColor2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  .layout_latest p {
    color: $oddColor4;
  }

  p {
    color: $oddColor6;
  }
}

// Schräge
.skw-tr, .skw-tl, .skw-br, .skw-bl {
  position: relative;
  overflow: hidden;
  margin-top: -75px;

  &:first-child {
    margin-top: 0;
  }
}

.skw-tr, .skw-tl {
  .container {
    padding-top: 100px;
  }
}

.skw-br, .skw-bl {
  .container {
    padding-bottom: 100px;
  }
}

.skewed-bg {
  height: 230px;
  position: absolute;
  -webkit-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  width: 150%;
  left: -5%;
  z-index: 0;

  &.skewed-top {
    &.skewed-right {
      -webkit-transform: rotate(-3deg);
      -ms-transform: rotate(-3deg);
      transform: rotate(-3deg);
      top: -170px;
    }

    &.skewed-left {
      top: -100px;
    }
  }

  &.skewed-bottom {
    &.skewed-right {
      -webkit-transform: rotate(-3deg);
      -ms-transform: rotate(-3deg);
      transform: rotate(-3deg);
      bottom: -100px;
    }

    &.skewed-left {
      bottom: -170px;
    }
  }
}

.skw-top-primary .skewed-top.skewed-bg {
  @extend .primary-bg;
}
.skw-btm-primary .skewed-bottom.skewed-bg {
  @extend .primary-bg;
}

// Feature-Element
.ce_ct_featureElement {
  clear: both;
  display: table;
  padding: 10px 0;

  .icon {
    width: 55px;
    display: table-cell;
    vertical-align: middle;
  }

  .feature-text {
    width: 100%;

    p {
      margin: 0;
    }
  }

  .headline {
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
  }

  svg {
    border: 2px solid $oddColor2;
    border-radius: 100%;
    font-size: 2.5rem;
    padding: 10px;
    color: $oddColor2;
  }
}
#wrapper .ce_ct_featureElement svg {
  width: 40px;
}

// Preisbox
.ce_ct_priceBox {
  padding: 0;
  margin: 50px 0;

  .inside {
    background: $pricebox_background;
    padding: 30px;
    border-radius: $borderRadius;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    text-align: center;
  }

  &:nth-of-type(1) .inside {
    border-top: 8px solid $pricebox_1_color;

    .amount {
      color: $pricebox_1_color;
    }

    .first-link a {
      @extend .btn;
      margin: 15px 0;
      background: $pricebox_1_color;

      &:hover {
        background: $pricebox_1_button_background_hover;
      }
    }

    .second-link a {
      color: $pricebox_1_color;
    }

    .popular-label {
      background: $pricebox_1_color;
      color: $oddColor6;
    }
  }

  &:nth-of-type(2) .inside {
    border-top: 8px solid $pricebox_2_color;

    .amount {
      color: $pricebox_2_color;
    }

    .first-link a {
      background: $pricebox_2_color;
      color: $oddColor6;

      &:hover {
        background: $pricebox_2_button_background_hover;
      }
    }

    .second-link a {
      color: $pricebox_2_color;
    }

    .popular-label {
      background: $pricebox_2_color;
      color: $oddColor6;
    }
  }

  &:nth-of-type(3) .inside {
    border-top: 8px solid $pricebox_3_color;

    .amount {
      color: $pricebox_3_color;
    }

    .first-link a {
      background: $pricebox_3_color;
      color: $oddColor6;

      &:hover {
        background: $pricebox_3_button_background_hover;
      }
    }

    .second-link a {
      color: $pricebox_3_color;
    }

    .popular-label {
      background: $pricebox_3_color;
      color: $oddColor6;
    }
  }

  &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3) {
    .inside .second-link:hover {
      color: #000;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    color: $pricebox_text_color;
  }

  .price {
    padding: 0 0 20px;

    .amount {
      font-size: 2.5rem;
      font-weight: 700;
      font-family: $headingFont;
    }

    .label {
      color: #808080;
    }
  }

  .text {
    padding: 10px 0;

    p {
      border-bottom: 2px solid $oddColor6;
      padding: 0 0 5px;
      margin: 0 0 5px;
      color: $pricebox_text_color;
    }
  }

  .first-link a {
    display: inline-block;
    padding: 10px 20px;
    font-weight: 700;
    margin: 15px 0;
    border-radius: $borderRadius;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
  }

  .second-link a {
    font-weight: 700;
  }

  .popular-label {
    display: inline-block;
    padding: 5px 10px;
    margin-bottom: 15px;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 700;
    font-family: $headingFont;
    border-radius: $borderRadius;
  }

  &.popular-box {
    margin-top: 10px;
    z-index: 1;
  }
}

// Referenzen
.references {
  figure {
    position: relative;

    &:hover .info {
      display: flex;
    }
  }

  .info {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    background: rgba(247, 247, 247, 0.9);
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    border-radius: $borderRadius;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);

    > div {
      width: 100%;
    }

    a {
      font-weight: 700;
    }
  }

  .title {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 5px;
  }

  .img-thumbnail {
    border-radius: $borderRadius;
    padding: 0;
    border: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
  }
}

#anfragen {
  label {
    font-weight: 700;
  }

  button {
    margin-left: 150px;
    float: left;
  }
}

input, button {
  &:focus {
    outline: 0;
  }
}

// Kopfbild
.header-image {
  position: relative;

  .caption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;

    h1 {
      background: $header-image-background;
      padding: 15px 30px;
      text-align: center;
      margin: 0 auto;
      color: $header-image-color;
    }
  }

  img {
    max-width: inherit;
    width: 100%;
  }
}

.skw-bl, .skw-br, .skw-tl, .skw-tr {
  .header-image h1 {
    margin-top: -50px;
  }
}

// Slider
.ce_sliderElement {
  position: relative;
  background: #000;
  height: 100%;

  &.only-image .text {
    display: none;
  }

  &.top-center, &.center-center, &.bottom-center {
    .text .inside {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &.top-right, &.center-right, &.bottom-right {
    .text .inside {
      margin-left: auto;
    }
  }

  &.center-left, &.center-center, &.center-right {
    .text {
      align-items: center;
    }
  }

  &.bottom-left, &.bottom-center, &.bottom-right {
    .text {
      align-items: flex-end;
    }
  }

  .container {
    padding: 0;
  }

  .text {
    position: absolute;
    background: none;
    padding: 0;
    width: 100%;
    left: 0;
    top: 0;
    box-shadow: none;
    text-align: center;
    border-radius: 0;
    height: calc(100% - 300px);
    display: flex;
    margin: 120px 0 0;

    .inside {
      background: $slider-background;
      padding: 30px;
      width: 600px;
      border-radius: 0;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
      -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
      margin-bottom: 5px;
    }

    h1, h2, h3, h4, h5, h6 {
      margin-top: 0;

      &, a {
        color: $slider-headline-color;
      }
    }

    p {
      font-size: 1rem;
      padding: 10px 0;
      color: $slider-text-color;
    }
  }

  .bg-image {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.8;
  }

  img {
    width: 100%;
  }

  .readmore {
    background: $slider-button-background;
    color: $slider-button-color;

    &:hover {
      background: $slider-button-background-hover;
      color: $slider-button-color-hover;
    }
  }

  .subheadline {
    text-transform: uppercase;
    color: $slider-subheadline-color;
    font-family: $headingFont;
    font-size: 12px;
    margin-bottom: 10px;
  }

}

.ce_sliderStart {
  position: relative;

  .slider-control {
    z-index: 10;
    position: static;

    .slider-prev, .slider-next {
      background: rgba(51, 51, 51, 0.73);
      color: $oddColor6;
      width: 50px;
      height: 50px;
      font-size: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 50%;
      margin-top: -25px;
    }

    .slider-prev {
      left: 15px;
    }

    .slider-next {
      right: 15px;
    }

    .slider-menu {
      bottom: -50px;
      top: inherit;
      z-index: 1;

      b {
        color: $slider-control-color;
        font-size: 2rem;
        padding: 3px;

        &.active {
          color: $slider-control-color-active;
        }
      }
    }
  }
}

#container .slider {
  &.skw-tr, &.skw-tl {
    .skewed-bg {
      top: 0;
    }
  }

  &.skw-bl .skewed-bg {
    bottom: -75px;
  }

  &.skw-br .skewed-bg {
    bottom: -110px;
  }
}

.slider {
  &.skw-tr, &.skw-tl, &.skw-br, &.skw-bl {
    .slider-control {
      z-index: 1;
    }

    .slider-menu {
      position: absolute;
      bottom: 80px;
      z-index: 1;
    }
  }
}

#main .slider {
  &.skw-bl, &.skw-br {
    + .mod_article {
      padding-top: 0;
    }
  }
}

// Jetzt Bestellen Bereich
.invitation {
  p {
    color: $oddColor6;
    font-size: 1.5rem;
    font-family: $headingFont;
    font-weight: 700;
  }

  .ce_hyperlink {
    margin-top: 15px;

    &.btn a {
      background: $oddColor5;

      &:hover {
        background: $oddColor2;
      }
    }
  }
}

// Teaser Box
.ce_ct_teaserBox {
  h2, h3, h4, h5, h6 {
    margin-bottom: 10px;
    margin-top: 0;
    word-wrap: break-word;
  }

  .inside {
    background: $teaserbox-background;
    padding: 20px;
  }

  .pageLink {
    a {
      @extend .btn;
      margin-top: 0;
    }
  }

  p {
    color: $oddColor5;
  }
}

// Content Box
.ce_ct_contentBox {
  padding: 30px;

  .pageLink a {
    @extend .btn;
  }

  &:nth-child(odd) {
    background: $contentbox-odd-background;

    h2, h3, h4, h5, h6, a, p {
      color: $contentbox-odd-color;
    }

    .pageLink a {
      background: $contentbox-odd-button-background;
      color: $contentbox-odd-button-color;

      &:hover {
        background: $contentbox-odd-button-background-hover;
        color: $contentbox-odd-button-color-hover;
      }
    }
  }

  &:nth-child(even) {
    background: $contentbox-even-background;

    h2, h3, h4, h5, h6, a, p {
      color: $contentbox-even-color;
    }

    .pageLink a {
      background: $contentbox-even-button-background;
      color: $contentbox-even-button-color;

      &:hover {
        background: $contentbox-odd-button-background-hover;
        color: $contentbox-odd-button-color-hover;
      }
    }
  }

  h2, h3, h4, h5, h6 {
    margin: 0 0 15px 0;
    text-transform: none;
  }
}

// Simple Box
.simplebox {
  margin-bottom: 30px;

  .inside {
    padding: 15px;
    background: $simplebox_background;
    height: 100%;
  }

  h2, h3, h4, h5, h6 {
    margin-top: 0;
  }

  h2, h3, h4, h5, h6, p, a {
    color: $simplebox_color;
  }
}

// Social Media Icons bei Kontakt

#container .contact-icons {
  .ce_ct_featureElement {
    .icon {
      width: 30px;
    }

    svg {
      border: none;
      padding: 0;
      font-size: 1em;
      color: $oddColor5;
      width: 15px;
    }
  }
}
